<% if @issue_statistics.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<h3>
  <%= link_to l(:stats_all) , statistics_path %> |
  <%= link_to l(:stats_user), statistics_users_path %> |
  <%= link_to l(:stats_project), statistics_projects_path %> |
  <%= link_to l(:stats_project_user), statistics_projects_principals_path %>
</h3>
<hr />
<% else %>
<h2><%=l(:view_statistics_from)%> <%= IssueStatistic.last.updated_at.to_date %> </h2>
  <h3>
  <%= link_to l(:stats_all) , statistics_path %> |
  <%= link_to l(:stats_user), statistics_users_path %> |
  <%= link_to l(:stats_project), statistics_projects_path %> |
  <%= link_to l(:stats_project_user), statistics_projects_principals_path %>
</h3>
<hr />
<% end %>