<% if @issue_statistics.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<h2><%=l(:view_statistics_from)%> <%= IssueStatistic.last.updated_at.to_date %> </h2>
<h3><%= link_to l(:stats_all) , issue_statistics_index_path %>
    <%= link_to l(:stats_user), issue_statistics_users_stats_path, :class => 'icon icon-user' %>
    <%= link_to l(:stats_project), issue_statistics_projects_stats_path, :class => 'icon icon-projects' %>
</h3>
  <hr />

<% @periods.each do |period| %>
<h3><%= l(period.to_sym) %></h3>
<table class="list issues">
  <thead>
    <tr>
      <th>#</th>
      <th><%=l(:field_type)%></th>
      <th><%=l(:field_assign)%> </th>
      <th><%=l(:field_total)%></th>
      <th><%=l(:field_opened)%></th>
      <th><%=l(:field_closed)%></th>
      <th><%=l(:field_ratio_c_o)%>(%)</th>
      <th><%=l(:field_returned)%></th>
      <th><%=l(:field_comment_max)%></th>
      <th><%=l(:field_avg)%></th>
    </tr>
  </thead>

  <tbody>
    <% @issue_statistics.each do |stat| %> 
    <% if stat.period == period %>
      <tr>
        <td><%= stat.id %></td>
        <td><%= stat.statisticable_type %></td>
        <% if stat.statisticable_type == "User" %>
          <td><%= User.find(stat.statisticable_id).name %> </td>
        <% else %>
          <td><%= Project.find(stat.statisticable_id).name %> </td>
        <% end %>
        <td><%= stat.total %></td>
        <td><%= stat.opened %></td>
        <td><%= stat.closed %></td>
        <td><%= progress_bar(stat.opened_to_closed.round(2),:width => '80px', :class => 'progress', :legend => "#{stat.opened_to_closed.round(2)}%") %></td>
        <td><%= stat.returned %></td>
        <td><%= stat.comment_max %></td>
        <td><%= stat.avg_issue_time.round(2) %> h</td>
        <% end %>
        <% end %>
      </tr>
    </tbody>
  </table>
  <% end %>
  <hr />
<% end %> 

