<%= render :partial => 'issue_statistics/search' %>
<hr />
<% if @issue_statistics.empty? %>
  <p class="nodata"><%= l(:label_no_data_or_access_denied) %></p>
<% else %>
   <% @issue_statistics.group_by(&:statisticable_id).each do |stat_per_user, tab| %>
      <% periods = [] %>
      <% str = {} %>
      <% statisticable =  nil %>
      <% relate_id =  nil %>
      <% tab.each do |stat| %>
        <% statisticable ||=  stat.statisticable %>
        <% relate_id ||=  stat.relate_id %>
        <% periods.push stat.period %>
        <% str[:total] ||= [] %>
        <% str[:total].push stat.total %>
        <% str[:opened] ||= [] %>
        <% str[:opened].push stat.opened %>
        <% str[:closed] ||= [] %>
        <% str[:closed].push stat.closed %>
        <% str[:returned] ||= [] %>
        <% str[:returned].push stat.returned %>
        <% str[:comment_max] ||= [] %>
        <% str[:comment_max].push stat.comment_max %>
        <% str[:returned_ratio] ||= [] %>
        <% str[:returned_ratio].push stat.returned_ratio %>
        <% str[:old_issues] ||= [] %>
        <% str[:old_issues].push stat.old_issues %>
        <% str[:opened_to_closed] ||= [] %>
        <% str[:opened_to_closed].push stat.opened_to_closed %>
      <% end %>
      <h3><%= statisticable.name %>  <%= relate_id && User.find(relate_id).name  %></h3>
      <% periods.each_with_index do |period, pidx| %>
      <script type="text/javascript" charset="utf-8">
        $(function () {
          var chart;
          chart = new Highcharts.Chart({
            chart: { renderTo: '<%= stat_per_user %><%= period %>',
                     type: 'column',
                      plotBackgroundColor: null,
                      plotBorderWidth: null,
                      plotShadow: false
            },
            title: { text: ''  },
            xAxis: {
              categories: [<%= raw period.to_json %>]
            },
            yAxis: {
              title: { text: '' },
              stackLabels: {
                style: {
                    color: 'black'
                },
                enabled: true
            }
            },
            credits: {
              text: ''
            },
            tooltip: {
                formatter: function() {
                            return this.series.name + ' : ' + this.y ;
                          }
            },
            plotOptions: {
                  column: {
                    pointPadding: 0,
                    groupPadding: 0,
                    dataLabels: {
                      enabled: true,
                      align: 'center',
                      crop: false,
                      overflow:"none",
                      color: "#707070"
                    }
                  },
                  series: {
                    showInLegend: false,
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function (event) {
                                window.location.href = event.point.url + '<%= relate_id && "?relate_id=#{relate_id}" %>';
                            }
                        }
                    }
                  }
            },
            series: [{
              name: '<%=l(:field_total)%>',
              data: [{
                      y: <%= raw str[:total][pidx].to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/total_issues/<%= stat_per_user %>/'+ <%= raw period.to_json %>
                    }]
            },
            {
              name: '<%=l(:field_opened)%>',
              data: [{
                      y: <%= raw str[:opened][pidx].to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/opened_issues/<%= stat_per_user %>/'+ <%= raw period.to_json %>
                    }]
            },
            {
              name: '<%=l(:field_closed)%>',
              data: [{
                      y: <%= raw str[:closed][pidx].to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/closed_issues/<%= stat_per_user %>/'+ <%= raw period.to_json %>
                    }]
            },
            {
              name: '<%=l(:field_returned)%>',
               data: [{
                      y: <%= raw str[:returned][pidx].to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/returned_issues/<%= stat_per_user %>/'+ <%= raw period.to_json %>
                    }]
            },
            {
              name: '<%= l(:field_comment_max) %>',
              data: [{
                      y: <%= raw str[:comment_max][pidx].to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/most_commented_issues/<%= stat_per_user %>/'+ <%= raw period.to_json %>
                    }]
            },
            {
              name: '<%= l(:field_old_issues) %>',
              data: [{
                      y: <%= raw str[:old_issues][pidx].to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/older_issues/<%= stat_per_user %>/' + <%= raw period.to_json %>
                    }]
            }
            ]
          });
        });
      </script>
      <div>
        <div id="<%= stat_per_user %><%=  period %>" style="width: 250px; height: 300px; position: relative;"></div>
      </div>
      <% end %>
     <script type="text/javascript" charset="utf-8">
        $(function () {
          var 
              ratio_all = Math.round(<%= raw str[:returned_ratio].last.to_json %> * 100 )/ 100;
              difference_all = 100 - ratio_all;
              ratio_year = Math.round(<%= raw str[:returned_ratio].last(2).first.to_json %> * 100 )/ 100;
              difference_year = 100 - ratio_year;
              ratio_month = Math.round(<%= raw str[:returned_ratio].first(2).last.to_json %> * 100 )/ 100;
              difference_month = 100 - ratio_month;
              ratio_week = Math.round(<%= raw str[:returned_ratio].first.to_json %> * 100 )/ 100;
              difference_week = 100 - ratio_week;
              link_returned = 'http://localhost:3000/issue_statistics/returned_issues/<%= stat_per_user %>'
          $('#<%= stat_per_user %>returned').highcharts({
                     chart: {
                  type: 'bar'
              },
              title: {
                  text: ''
              },
              xAxis: {
                  categories: <%= raw periods.to_json %>
              },
              yAxis: {
                  min: 0,
                  max: 100,
                  title: {
                      text: ''
                  }
              },
              legend: {
                  reversed: true
              },
              credits: {
                text: ''
              },
              tooltip: {
                formatter: function() {
                            return this.series.name + ' : ' + this.point.amount + ' (' +  this.y + ' %)' ;
                          }
              },
              plotOptions: {
                  series: {
                      dataLabels: {
                        enabled: true,
                        formatter: function() {
                            return this.point.amount;
                          }
                      },
                      stacking: 'normal',
                      cursor: 'pointer',
                      point: {
                        events: {
                            click: function (event) {
                                if (event.point.url){
                                  window.location.href = event.point.url + "/" + this.category + '/<%= relate_id && "?relate_id=#{relate_id}" %>';
                                }
                            }
                        }
                    }
                  }
              },
              series: [
                      {
                      name: '<%=l(:field_returned)%> ',
                      color: '#f7a35c',
                      data: [
                            { y: ratio_week, url: link_returned, amount: <%= raw str[:returned].first.to_json %> },
                            { y: ratio_month, url: link_returned, amount: <%= raw str[:returned][1].to_json %> }, 
                            { y: ratio_year, url: link_returned, amount: <%= raw str[:returned][2].to_json %> }, 
                            { y: ratio_all, url: link_returned, amount: <%= raw str[:returned].last.to_json %> }
                            ]
                      }
                      ]
          });
        });
      </script>
      <div class="clear">
        <div id="<%= stat_per_user %>returned" style="width: 500px; height: 300px; position: relative; float: left;"></div>
      </div>
      <script type="text/javascript" charset="utf-8">
        $(function () {
          var 
              ratio_week = <%= raw str[:opened].first.to_json %>
              ratio_month = <%= raw str[:opened][1].to_json %>;
              ratio_year = <%= raw str[:opened][2].to_json %>;
              ratio_all = <%= raw str[:opened].last.to_json %>;
              difference_week = <%= raw str[:closed].first.to_json %>;
              difference_month = <%= raw str[:closed].first(2).last.to_json %>;
              difference_year = <%= raw str[:closed].last(2).first.to_json %>;
              difference_all = <%= raw str[:closed].last.to_json %>
              link_closed = 'http://localhost:3000/issue_statistics/closed_issues/<%= stat_per_user %>';
              link_opened = 'http://localhost:3000/issue_statistics/opened_issues/<%= stat_per_user %>';
          
          $('#<%= stat_per_user %>open_close').highcharts({
              chart: {
                  type: 'bar'
              },
              title: {
                  text: ''
              },
              xAxis: {
                  categories: <%= raw periods.to_json %>
              },
              yAxis: {
                  min: 0,
                  title: {
                      text: ''
                  }
              },
              legend: {
                  reversed: true
              },
              credits: {
                text: ''
              },
              tooltip: {
                formatter: function() {
                            return this.series.name + ' : ' + this.y ;
                          }
              },
              plotOptions: {
                  series: {
                      stacking: 'normal',
                      cursor: 'pointer',
                      point: {
                        events: {
                            click: function (event) {
                                if (event.point.url){
                                  window.location.href = event.point.url + "/" + this.category + '/<%= relate_id && "?relate_id=#{relate_id}" %>';
                                }
                            }
                        }
                    }
                  }
              },
              series: [
                  {
                  color: '#434348',
                  name: "<%=l(:field_opened)%>",
                  data: [
                        { y: ratio_week, url: link_opened  }, 
                        { y: ratio_month, url: link_opened },
                        { y: ratio_year, url: link_opened },
                        { y: ratio_all, url: link_opened }]
                  },
                  {
                  color: '#90ed7d',
                  name: "<%=l(:field_closed)%>",
                  data: [
                        { y: difference_week, url: link_closed },
                        { y: difference_month, url: link_closed },
                        { y: difference_year, url: link_closed },
                        { y: difference_all, url: link_closed }]
                  }]
          });
        });
      </script>
    <div>
    <div id="<%= stat_per_user %>open_close" style="width: 500px; height: 300px; position: relative; float: right;"></div>
    </div>
     <% end %>
  <% end %>
  <hr />
<div id="paginacja" class="pagination" style="text-align: center;">
   <%= will_paginate @issue_statistics %>
</div>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'chosen.css', :plugin => 'redmine_issue_statistics', :media => 'all' %>
  <%= stylesheet_link_tag 'application.css', :plugin => 'redmine_issue_statistics', :media => 'all' %>
  <%= javascript_include_tag 'chosen.jquery.min.js', :plugin => 'redmine_issue_statistics' %>
  <%= javascript_include_tag 'highcharts', :plugin => 'redmine_issue_statistics' %>
  <%= javascript_include_tag 'app', :plugin => 'redmine_issue_statistics' %>
<% end %>
