<%= form_tag statistics_path, :method => 'get' do %>
  <table id="filters-table">
    <tr>
      <td>
        <%=l(:field_user)%> :
      </td>
      <td>
        <%= select_tag :user_id, options_from_collection_for_select(Principal.sorted, :id, :name, params[:user_id]), include_blank: true, class: 'chosen' %>
      </td>
    </tr>
    <tr>
      <td>
        <%=l(:field_project)%> :
      </td>
      <td>
        <%= select_tag :project_id, project_tree_options_for_select(Project.active, selected: Project.where(id: params[:project_id]).first), include_blank: true, class: 'chosen' %>
      </td>
    </tr>
  </table>
  <p class="buttons">
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<hr />
<% if @issue_statistics.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
   <% @issue_statistics.group_by(&:statisticable_id).each do |stat_per_user, tab| %>
      <% periods = [] %>
      <% str = {} %>
      <% statisticable =  nil %>
      <% relate_id =  nil %>
      <% tab.each do |stat| %>
        <% statisticable ||=  stat.statisticable %>
        <% relate_id ||=  stat.relate_id %>
        <% periods.push stat.period %>
        <% str[:total] ||= [] %>
        <% str[:total].push stat.total %>
        <% str[:opened] ||= [] %>
        <% str[:opened].push stat.opened %>
        <% str[:closed] ||= [] %>
        <% str[:closed].push stat.closed %>
        <% str[:returned] ||= [] %>
        <% str[:returned].push stat.returned %>
        <% str[:comment_max] ||= [] %>
        <% str[:comment_max].push stat.comment_max %>
        <% str[:returned_ratio] ||= [] %>
        <% str[:returned_ratio].push stat.returned_ratio %>
        <% str[:old_issues] ||= [] %>
        <% str[:old_issues].push stat.old_issues %>
        <% str[:opened_to_closed] ||= [] %>
        <% str[:opened_to_closed].push stat.opened_to_closed %>
      <% end %>
      <script type="text/javascript" charset="utf-8">
        $(function () {
          new Highcharts.Chart({
            chart: { renderTo: '<%= stat_per_user %>',
                     type: 'column'
            },
            title: { text: '<%= statisticable.name %>  <%= relate_id && User.find(relate_id).name  %>'  },
            xAxis: {
              categories: <%= raw periods.map{ |el| t("periods.#{el}", default: el)}.to_json %>
            },
            yAxis: {
              title: { text: '' },
            },
            credits: {
              text: ''
            },
           plotOptions: {
                  series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function (event) {
                                window.location.href = event.point.url + '/' +  '<%= stat_per_user %>' + '/' + this.category + '<%= relate_id && "?relate_id=#{relate_id}" %>';
                            }
                        }
                    }
                  }
            },
            series: [{
              name: '<%=l(:field_total)%>',
              data: [{
                      y: <%= raw str[:total].first.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/total_issues'
                    },
                    {
                      y: <%= raw str[:total].last(3).first.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/total_issues'
                    },
                    {
                      y: <%= raw str[:total].last(2).first.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/total_issues'
                    }
                    ,
                    {
                      y: <%= raw str[:total].last.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/total_issues'
                    }]
            },
            {
              name: '<%=l(:field_opened)%>',
              data: [{
                      y: <%= raw str[:opened].first.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/opened_issues'
                    },
                    {
                      y: <%= raw str[:opened].last(3).first.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/opened_issues'
                    },
                    {
                      y: <%= raw str[:opened].last(2).first.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/opened_issues'
                    }
                    ,
                    {
                      y: <%= raw str[:opened].last.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/opened_issues'
                    }]
            },
            {
              name: '<%=l(:field_closed)%>',
              data: [{
                      y: <%= raw str[:closed].first.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/closed_issues'
                    },
                    {
                      y: <%= raw str[:closed].last(3).first.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/closed_issues'
                    },
                    {
                      y: <%= raw str[:closed].last(2).first.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/closed_issues'
                    }
                    ,
                    {
                      y: <%= raw str[:closed].last.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/closed_issues'
                    }]
            },
            {
              name: '<%=l(:field_returned)%>',
               data: [{
                      y: <%= raw str[:returned].first.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/returned_issues'
                    },
                    {
                      y: <%= raw str[:returned].last(3).first.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/returned_issues'
                    },
                    {
                      y: <%= raw str[:returned].last(2).first.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/returned_issues'
                    },
                    {
                      y: <%= raw str[:returned].last.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/returned_issues'
                    }]
            },
            {
              name: '<%= l(:field_comment_max) %>',
              data: [{
                      y: <%= raw str[:comment_max].first.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/most_commented_issues'
                    },
                    {
                      y: <%= raw str[:comment_max].last(3).first.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/most_commented_issues'
                    },
                    {
                      y: <%= raw str[:comment_max].last(2).first.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/most_commented_issues'
                    },
                    {
                      y: <%= raw str[:comment_max].last.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/most_commented_issues'
                    }]
            },
            {
              name: '<%= l(:field_old_issues) %>',
              data: [{
                      y: <%= raw str[:old_issues].first.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/older_issues'
                    },
                    {
                      y: <%= raw str[:old_issues].last(3).first.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/older_issues'
                    },
                    {
                      y: <%= raw str[:old_issues].last(2).first.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/older_issues'
                    },
                    {
                      y: <%= raw str[:old_issues].last.to_json  %>,
                      url: 'http://localhost:3000/issue_statistics/older_issues'
                    }]
            }
            ]
          });
        });
      </script>
      <div>
        <div id="<%= stat_per_user %>" style="width: 1000px; height: 300px; position: relative; margin: auto;"></div>
      </div>
      <script type="text/javascript" charset="utf-8">
        $(function () {
          var ratio_all = Math.round(<%= raw str[:returned_ratio].last.to_json %> * 100 )/ 100;
          var difference_all = 100 - ratio_all;
          var ratio_year = Math.round(<%= raw str[:returned_ratio].last(2).first.to_json %> * 100 )/ 100;
          var difference_year = 100 - ratio_year;
          var ratio_month = Math.round(<%= raw str[:returned_ratio].first(2).last.to_json %> * 100 )/ 100;
          var difference_month = 100 - ratio_month;
          var ratio_week = Math.round(<%= raw str[:returned_ratio].first.to_json %> * 100 )/ 100;
          var difference_week = 100 - ratio_week;
          $('#<%= stat_per_user %>donut').highcharts({
              chart: {
                  type: 'pie',
                  name: 'Returned Issues',
                  options3d: {
                  enabled: false,
                  alpha: 0
                  }
              },

              title: {
                  text: ''
              },tooltip: {
                  enabled: false
              },
              credits: {
                text: ''
              },
              plotOptions: {
                  pie: {
                      innerSize: 170,
                  },
                  series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function (event) {
                                if (event.point.url){
                                  window.location.href = event.point.url;
                                }
                            }
                        }
                    }
                  }
              },
              series: [
              {
                      name: 'WEEK',
                      colors: ['#f7a35c', '#C4BCC3'],
                      data: [
                              {
                                name: "<%=l(:field_week)%> " + ratio_week + "%",
                                y: ratio_week,
                                url: 'http://localhost:3000/issue_statistics/returned_issues/<%= stat_per_user %>/week',

                              },
                          ["", difference_week]
                      ],
                      color: 'black',
                      startAngle: 0,
                      distance: -30
                  },
                  {
                      name: 'MONTH',
                      colors: ['#f7a35c', '#C4BCC3'],
                      data: [
                              {
                                name: "<%=l(:field_month)%> " + ratio_month + "%",
                                y: ratio_month,
                                url: 'http://localhost:3000/issue_statistics/returned_issues/<%= stat_per_user %>/month'
                              },
                              ["", difference_month]
                            ],
                      size: '65%',
                      startAngle: 90,
                      innerSize: '62%',

                  },
                  {
                      name: 'YEAR',
                      colors: ['#f7a35c', '#C4BCC3'],
                      data: [
                              {
                                name: "<%=l(:field_year)%> " + ratio_year + "%",
                                y: ratio_year,
                                url: 'http://localhost:3000/issue_statistics/returned_issues/<%= stat_per_user %>/year'
                              },
                              ["", difference_year]
                            ],
                      size: '55%',
                      startAngle: 180,
                      innerSize: '52%',
                  },
                  {   
                      colors: ['#f7a35c', '#C4BCC3'],
                      data: [
                              {
                                name: "<%=l(:all)%> " + ratio_all + "%",
                                y: ratio_all,
                                url: 'http://localhost:3000/issue_statistics/returned_issues/<%= stat_per_user %>/all'
                              },
                              ["", difference_all]
                            ],
                      size: '45%',
                      startAngle: 270,
                      innerSize: '42%',
                  }]
          });
        });
      </script>
      <div class="clear">
        <div id="<%= stat_per_user %>donut" style="width: 500px; height: 300px; position: relative; float: left;"></div>
      </div>
     <script type="text/javascript" charset="utf-8">
        $(function () {
          var ratio_all = Math.round(<%= raw str[:opened_to_closed].last.to_json %> * 100 )/ 100;
          var difference_all = 100 - ratio_all;
          var ratio_year = Math.round(<%= raw str[:opened_to_closed].last(2).first.to_json %> * 100 )/ 100;
          var difference_year = 100 - ratio_year;
          var ratio_month = Math.round(<%= raw str[:opened_to_closed].first(2).last.to_json %> * 100 )/ 100;
          var difference_month = 100 - ratio_month;
          var ratio_week = Math.round(<%= raw str[:opened_to_closed].first.to_json %> * 100 )/ 100;
          var difference_week = 100 - ratio_week;
          $('#<%= stat_per_user %>donut_open_to_close').highcharts({
              chart: {
                  type: 'pie',
                  name: 'Open to Close Issues',
                  options3d: {
                  enabled: false,
                  alpha: 0
                  }
              },

              title: {
                  text: ''
              },tooltip: {
                  enabled: false
              },
              credits: {
                text: ''
              },
              plotOptions: {
                  pie: {
                      innerSize: 170,
                  },
                  series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function (event) {
                                if (event.point.url){
                                  window.location.href = event.point.url + '<%= relate_id && "?relate_id=#{relate_id}" %>';
                                }
                            }
                        }
                    }
                  }
              },
              series: [
              {
                      colors: ['#F7BB83', '#D99077'],
                      data: [
                              {
                                name: "<%=l(:field_week)%> <%=l(:field_closed)%>",
                                y: ratio_week,
                                url: 'http://localhost:3000/issue_statistics/closed_issues/<%= stat_per_user %>/week'
                              },
                              {
                                name: "<%=l(:field_week)%> <%=l(:field_opened)%>",
                                y: difference_week,
                                url: 'http://localhost:3000/issue_statistics/opened_issues/<%= stat_per_user %>/week',
                                dataLabels: {
                                        enabled: true,
                                        color: '#D99077'
                                }
                              }
                      ],
                      color: 'black',
                      distance: -30
                  },
                  {
                      colors: ['#F7BB83', '#D99077'],
                      data: [
                              {
                                name: "<%=l(:field_month)%> <%=l(:field_closed)%>",
                                y: ratio_month,
                                url: 'http://localhost:3000/issue_statistics/closed_issues/<%= stat_per_user %>/month'
                              },
                              {
                                name: "<%=l(:field_month)%> <%=l(:field_opened)%>",
                                y: difference_month,
                                url: 'http://localhost:3000/issue_statistics/opened_issues/<%= stat_per_user %>/month',
                                dataLabels: {
                                        enabled: true,
                                        color: '#D99077'
                                }
                              }
                            ],
                      size: '65%',
                      innerSize: '62%',

                  },
                  {
                      colors: ['#F7BB83', '#D99077'],
                      data: [
                              {
                                name: "<%=l(:field_year)%> <%=l(:field_closed)%>",
                                y: ratio_year,
                                url: 'http://localhost:3000/issue_statistics/closed_issues/<%= stat_per_user %>/year'
                              },
                              {
                                name: "<%=l(:field_year)%> <%=l(:field_opened)%>",
                                y: difference_year,
                                url: 'http://localhost:3000/issue_statistics/opened_issues/<%= stat_per_user %>/year',
                                dataLabels: {
                                        enabled: true,
                                        color: '#D99077'
                                }
                              }
                            ],
                      size: '55%',
                      innerSize: '52%',
                  },
                  {
                      colors: ['#F7BB83', '#D99077'],
                      data: [
                              {
                                name: "<%=l(:all)%> <%=l(:field_closed)%>",
                                y: ratio_all,
                                url: 'http://localhost:3000/issue_statistics/closed_issues/<%= stat_per_user %>/all'
                              },
                              {
                                name: "<%=l(:all)%> <%=l(:field_opened)%>",
                                y: difference_all,
                                url: 'http://localhost:3000/issue_statistics/opened_issues/<%= stat_per_user %>/all',
                                dataLabels: {
                                        enabled: true,
                                        color: '#D99077'
                                }
                              }
                            ],
                      size: '45%',
                      innerSize: '42%',
                  }]
          });
        });
      </script>
      <div>
        <div id="<%= stat_per_user %>donut_open_to_close" style="width: 500px; height: 300px; position: relative; float: right;"></div>
      </div>
    <hr />
    <% end %>
  <% end %>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'chosen.css', :plugin => 'redmine_issue_statistics', :media => 'all' %>
  <%= stylesheet_link_tag 'application.css', :plugin => 'redmine_issue_statistics', :media => 'all' %>
  <%= javascript_include_tag 'chosen.jquery.min.js', :plugin => 'redmine_issue_statistics' %>
  <%= javascript_include_tag 'highcharts', :plugin => 'redmine_issue_statistics' %>
  <%= javascript_include_tag 'app', :plugin => 'redmine_issue_statistics' %>
<% end %>
<div id="paginacja" class="pagination" style="text-align: center;">
   <%= will_paginate @issue_statistics %>
</div>
