<%= render :partial => 'search' %>
<hr />
<% if @issue_statistics.empty? %>
  <p class="nodata"><%= l(:label_no_data_or_access_denied) %></p>
<% else %>
  <% @issue_statistics.group_by(&:statisticable_id).each do |id_statisticable, tab| %>
    <% periods = [] %>
    <% str = {} %>
    <% statisticable =  nil %>
    <% relate_id =  nil %>
    <% type_statisticable = nil %>
    <% tab.each do |stat| %>
      <% statisticable ||=  stat.statisticable %>
      <% relate_id ||=  stat.relate_id %>
      <% @relate_id ||= stat.relate_id %>
      <% type_statisticable ||= stat.statisticable_type %>
      <% @type_statisticable ||= stat.statisticable_type %>
      <% periods.push stat.period %>
      <% str[:total] ||= [] %><% str[:total].push stat.total %>
      <% str[:opened] ||= [] %><% str[:opened].push stat.opened %>
      <% str[:closed] ||= [] %><% str[:closed].push stat.closed %>
      <% str[:returned] ||= [] %><% str[:returned].push stat.returned %>
      <% str[:comment_max] ||= [] %><% str[:comment_max].push stat.comment_max %>
      <% str[:returned_ratio] ||= [] %><% str[:returned_ratio].push stat.returned_ratio %>
      <% str[:old_issues] ||= [] %><% str[:old_issues].push stat.old_issues %>
      <% str[:opened_to_closed] ||= [] %><% str[:opened_to_closed].push stat.opened_to_closed %>
      <% str[:resolved] ||= [] %><% str[:resolved].push stat.resolved %>
      <% str[:total_assigned] ||= [] %><% str[:total_assigned].push stat.total_assigned %>
    <% end %>

    <h3><%= statisticable.name %>  <%= relate_id && User.find(relate_id).name  %></h3>

    <% periods.each_with_index do |period, pidx| %>
      <%= render :partial => 'main_chart', 
                 :locals => {period: period, id_statisticable: id_statisticable, type_statisticable: type_statisticable, relate_id: relate_id, str: str, pidx: pidx} %>
      <%= render :partial => 'returned_chart', 
                 :locals => { id_statisticable: id_statisticable, type_statisticable: type_statisticable, relate_id: relate_id, str: str, periods: periods } %>
      <%= render :partial => 'opened_to_closed_chart', 
                 :locals => { id_statisticable: id_statisticable, type_statisticable: type_statisticable, relate_id: relate_id, str: str, periods: periods } %>
      <div id="<%= id_statisticable %><%=  period %>" style="width: 250px; height: 300px; position: relative;"></div>
    <% end %>
    <div id="legend" style="font-weight: bold; font-size: 150%">
     <li class="<%=l(:field_total).split(" ").join("-") %>" style="color: #FFB347 "><%=l(:field_total)%></li>
     <% if @type_statisticable == "Project" && @relate_id == nil  %>
       <li class="<%=l(:field_closed).split(" ").join("-") %>" style="color: #966FD6"><%=l(:field_closed)%></li>
       <li class="<%= l(:field_comment_max).split(" ").join("-") %>" style="color: #F49AC2"><%= l(:field_comment_max) %></li>
     <% end %>
     <li class="<%=l(:field_returned).split(" ").join("-") %>" style="color: #FFC87C"><%=l(:field_returned)%></li>
     <li class="<%=l(:field_opened).split(" ").join("-") %>" style="color: #FF6961"><%=l(:field_opened)%></li>
     <li class="<%= l(:field_old_issues).split(" ").join("-") %>" style="color: #77DD77"><%= l(:field_old_issues) %></li>
     <% if @type_statisticable != "Project" || @relate_id != nil %> 
      <li class="<%= l(:resolved_issues).split(" ").join("-") %>" style="color: #836953"><%= l(:resolved_issues) %></li>
     <% end %>
    </div>
    <div class="clear">
      <div id="<%= id_statisticable %>returned" style="width: 500px; height: 300px; position: relative; float: left;"></div>
    </div>
    <div>
      <div id="<%= id_statisticable %>open_close" style="width: 500px; height: 300px; position: relative; float: right;"></div>
    </div>     
  <% end %>
<% end %>

<hr />

<div id="paginacja" class="pagination" style="text-align: center;">
   <%= will_paginate @issue_statistics %>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'chosen.css', :plugin => 'redmine_issue_statistics', :media => 'all' %>
  <%= stylesheet_link_tag 'application.css', :plugin => 'redmine_issue_statistics', :media => 'all' %>
  <%= javascript_include_tag 'chosen.jquery.min.js', :plugin => 'redmine_issue_statistics' %>
  <%= javascript_include_tag 'highcharts', :plugin => 'redmine_issue_statistics' %>
  <%= javascript_include_tag 'app', :plugin => 'redmine_issue_statistics' %>
<% end %>