<%= render :partial => 'issue_statistics/links' %>
<% if @issue_statistics.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
   <% @issue_statistics.group_by(&:statisticable_id).each do |stat_per_user, tab| %> 
      <% periods = [] %>
      <% str = {} %>
      <% statisticable =  nil %>
      <% relate_id =  nil %>
      <% tab.each do |stat| %>
        <% statisticable ||=  stat.statisticable %>
        <% relate_id ||=  stat.relate_id %>
        <% periods.push stat.period %>
        <% str[:total] ||= [] %>
        <% str[:total].push stat.total %>
        <% str[:opened] ||= [] %>
        <% str[:opened].push stat.opened %>
        <% str[:closed] ||= [] %>
        <% str[:closed].push stat.closed %>
        <% str[:returned] ||= [] %>
        <% str[:returned].push stat.returned %>
        <% str[:comment_max] ||= [] %>
        <% str[:comment_max].push stat.comment_max %>
        <% str[:returned_ratio] ||= [] %>
        <% str[:returned_ratio].push stat.returned_ratio %>
      <% end %>
   
      <script type="text/javascript" charset="utf-8">
        $(function () {
          new Highcharts.Chart({
            chart: { renderTo: '<%= stat_per_user %>' },
            title: { text: '<%= statisticable.name %>  <%= relate_id && User.find(relate_id).name  %>'  },
            xAxis: {
              categories: <%= raw periods.to_json %>
            },
            yAxis: {
              title: { text: '' },//<%= statisticable.name %>
              //max: 200
            },
            series: [{
              type: 'column',
              name: '<%=l(:field_total)%>',
              data: <%= raw str[:total].to_json %>
            },
            {
              type: 'column',
              name: '<%=l(:field_opened)%>',
              data: <%= raw str[:opened].to_json %>
            },
            {
              type: 'column',
              name: '<%=l(:field_closed)%>',
              data: <%= raw str[:closed].to_json %>
            },
            {
              type: 'column',
              name: '<%=l(:field_returned)%>',
              data: <%= raw str[:returned].to_json %>
            },
            {
              type: 'column',
              name: '<%=l(:field_comment_max)%>',
              data: <%= raw str[:comment_max].to_json %>
            }
            ]
          });
        });
      </script>
      <script type="text/javascript" charset="utf-8">
        $(function () {
          var ratio_all = <%= raw str[:returned_ratio].last.to_json %>;
          var difference_all = 100 - ratio_all;
          var ratio_year = <%= raw str[:returned_ratio].last(2).first.to_json %>;
          var difference_year = 100 - ratio_year;
          var ratio_month = <%= raw str[:returned_ratio].first(2).last.to_json %>;
          var difference_month = 100 - ratio_month;
          var ratio_week = <%= raw str[:returned_ratio].first.to_json %>;
          var difference_week = 100 - ratio_week;
          $('#<%= stat_per_user %>donut').highcharts({ 
              chart: {
                  type: 'pie',
                  options3d: {
                  enabled: false,
                  alpha: 0
                  }
              },
              title: {
                  text: ''
              },tooltip: {
                  enabled: false
              },
              plotOptions: {
                  pie: {
                      innerSize: 170,
                  }
              },
              series: [{
                name: 'WEEK',
                colors: ['#f7a35c', '#C4BCC3'],
                data: [
                    ["Last week " + ratio_week + "%",  ratio_week],
                    [difference_week + "%", difference_week]
                ],
              color: 'black',
              distance: -30
            },
            {
                name: 'MONTH',
                colors: ['#f7a35c', '#C4BCC3'],
                data: [
                        ["Last month " + ratio_month + "%",  ratio_month],
                        [difference_month + "%", difference_month]
                      ],
                size: '65%',
                innerSize: '62%',

            },
            {
                name: 'YEAR',
                colors: ['#f7a35c', '#C4BCC3'],
                data: [
                        ["Last year " + ratio_year + "%",  ratio_year],
                        [difference_year + "%", difference_year]
                      ],
                size: '55%',
                innerSize: '52%',
            },
            {
                name: 'ALL',
                colors: ['#f7a35c', '#C4BCC3'],
                data: [
                        ["All " + ratio_all + "%",  ratio_all],
                        [difference_all + "%", difference_all]
                      ],
                size: '45%',
                innerSize: '42%',
            }]
          });

        });
      </script>
    <div id="<%= stat_per_user %>" style="width: 700px; height: 300px;"></div>
    <div id="<%= stat_per_user %>donut" style="width: 700px; height: 300px;"></div>
    <hr />
    <% end %>
  <% end %>
<% content_for :header_tags do %>
    <%= javascript_include_tag 'highcharts', :plugin => 'redmine_issue_statistics' %>
<% end %>
<div id="paginacja" class="pagination">
   <%= will_paginate @issue_statistics %>
</div>